@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-style: italic;
}

* {
  font-family: 'Readex Pro', sans-serif;
}


/* Home */

.sign_up_btn{
  color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 20px;
    background: linear-gradient(45deg, rgb(169, 144, 177), rgb(175, 63, 185));
    padding: 10px 60px;
    border-radius: 30px;
    border: none;
}

.sign_up_btn:hover {
  background: linear-gradient(260deg, rgb(169, 144, 177), rgb(175, 63, 185));
}


.login_btn {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 12px;
  background: linear-gradient(45deg, rgb(169, 144, 177), rgb(175, 63, 185));
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
}

.login_btn:hover {
  background: linear-gradient(260deg, rgb(169, 144, 177), rgb(175, 63, 185));
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%)
}